body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #77A3E0;
    height: 100vh;
    margin: 0;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #77A3E0;
    border: 2px solid #334661;
    padding: 20px;
    border-radius: 10px;
}

input,
select {
    margin-bottom: 10px;
    color: white;
    background-color: #5575A1;
    border: 1px solid white;
    border-radius: 5px;
}
::placeholder {
    color: white; /* Cambia este valor al color que desees */
  }

button {
    cursor: pointer;
    margin-bottom: 10px;
    color: white;
    background-color: #5575A1;
    border: 1px solid white;
    border-radius: 5px;
}
button:hover{
    transform: scale(1.05);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#resultado{
    color: white;
}