body {
    font-family: Arial, sans-serif;
    background-color: #f1e8ae;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.opciones img {
    width: 100px;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.2s ease-in-out;
}

.opciones img:hover {
    transform: scale(1.1);
}

.puntuacion {
    margin-top: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f1e8ae;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #dcd329;
}

.selecciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.selecciones div {
    text-align: center;
}

.selecciones img {
    width: 100px; /* Ajusta el tamaño de acuerdo a tus preferencias */
    height: auto;
    margin-top: 10px;
}